{{> header}}
  <h1>{{title}}</h1>
  <h2>Informe de ciutats</h2>
  <ul>
        {{#each cities}}
        <li>
          <strong>{{name}}</strong>  
          ({{lookup ../countries country}})  
          — Població: 
          {{#if population}}
            {{population}}
          {{else}}
          <em>No disponible</em>
            {{/if}}

            
            {{#if coastal}}
              🌊 Costanera
            {{else}}
              Interior
            {{/if}}
            
            <!--para hacer comparaciones, si es grande o pequeña-->
            {{#if (lte population ../threshold)}}
              <span class="badge small">Petita</span>
            {{else}}
              <span class="badge big">Gran</span>
            {{/if}}
          </li>
        {{/each}}
      </ul>
</body>

</html>